body{
    background-color:#dfe9b5;
    background-image: url("video-game-background-25.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    padding: 14px;
    display: flex;
    justify-content: center;
}
#enter{
    font-size: 40px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color:#003366;
    font-weight: bold;
    
}


#attempt{
    font-size: 30px;
    text-shadow: 1px 1px 1px black;
    color: rgb(56, 121, 3);
}
span{
    font-weight: bolder;
    font-size: 30px;
}
.rule{
    font-size: 25px;
    font-style: italic;
}
#output{
    font-size: 40px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: oblique;
    font-weight: bolder;
    
}
img{
    width: 21vw;
}
.div3{

display: flex;
flex-direction: column;
align-items: center;
}

.div1{
 display: flex;
    width: 70vw;
    height: 36vh;
    box-shadow: rgba(63, 62, 62, 0.04) 0 0 1px 0, rgb(56, 56, 56) 0 3px 10px 0;
    border-radius: 10px;
    background-image: linear-gradient(90deg, #297fb996,#6dd4fa9d,#ffffffb2);
    
    font-size: 25px;
    color: rgb(7, 7, 7);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
   
}
.div2{
    
    background-color: rgb(208, 217, 218);
    width: 80vw;
    display: flex;
    flex-direction: column;
    align-items: center;
    
    height: 55vw;
}
input{
    background-color: #e4ebc9;
    color: rgb(99, 98, 98);
    font-size: 40px;
    border-radius: 6px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.795);
    border: none;
    outline: none;
    height: 5vh;
    padding-inline-start: 20px;
}
.new{
    display: none;   
}
#Game{
    margin-top: 10px;
    box-shadow: 3px 3px 7px rgba(0, 0, 0, 0.795);
}
button{
    font-size: 25px;
    width: 9vw;
    height: 4vh;
    background-color: rgb(138, 229, 245);
    margin-bottom: 5px;
    border-radius: 9px;
    border: none;
    box-shadow: 3px 2px 4px ;
    margin-left: 20px;
    
}
.heading{
    font-size: 5em;

    color: #bcdce9ef;
text-shadow: 1px 1px #32557f,
             1px -1px #32557f,
             -1px 1px #32557f,
             -1px -1px #32557f,
             3px 3px 6px rgba(0,0,0,.5);
}
.div1 h1{
    text-shadow: 1px 1px 5px #696969 ;
}

